<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chess Board</title>
    <!-- Add Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>

        .container {
            align-items: center;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        
        .chessboard {
            max-width: 70vw;
            max-height: 70vh;
            width: 40vw;
            height: 40vw;
            display: grid;
            grid-template-columns: repeat(8, 1fr);
            grid-template-rows: repeat(8, 1fr);
            grid-column-gap: 0px;
            grid-row-gap: 0px;
            margin-bottom: 5vh;
            margin-top: 5vh;
        }

        .square {
            aspect-ratio: 1/ 1;
            gap: 0%;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 3vw;
            font-family: 'Arial Unicode MS';
            cursor: default;
        }

        .even {
            background-color: rbg(234, 237, 207);
        }

        .odd {
            background-color: rgb(126, 152, 92);
        }

        .btn {
            background-color: #808080;
        }
    </style>
    <script>
        // When the DOM loads (on any change)
        document.addEventListener('DOMContentLoaded', function() {
            // transmit board into JSON
            var boardJSON = {{ board | tojson }};
            var highlightedSquare = ''
            var circledSquares = [];
            var captureHighlights = [];
            var checkHighlight = '';
            var outcome = '';
            
            var squares = document.querySelectorAll('.square');
            squares.forEach(function(square) {
                // prevents text selection on square unicode characters
                square.addEventListener('mousedown', function(e){ e.preventDefault(); }, false);

                // populates each square when DOM is initially loaded
                if (boardJSON.hasOwnProperty(square.id)) {
                    square.textContent = boardJSON[square.id];
                }

                // each time a square is clicked
                square.addEventListener('click', function() {
                    fetch('/square-clicked', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({id : square.id, highlightedSquare : highlightedSquare, checkHighlightedSquare : checkHighlight})
                    })
                    .then(result => result.json())
                    .then(data => {
                        // Clear old circled squares and reset circledSquares list var
                        circledSquares.forEach(function(oldCircledSquare) {
                            document.getElementById(oldCircledSquare).textContent = '';
                        });
                        circledSquares = [];

                        // Clear old capture highlights
                        captureHighlights.forEach(function(oldCaptureHighlight) {
                            targetSquare = document.getElementById(oldCaptureHighlight);
                            if (targetSquare.classList.contains('even')) {
                                targetSquare.style.backgroundColor = rbg(234, 237, 207);
                            } else {
                                targetSquare.style.backgroundColor = rgb(126, 152, 92);
                            }
                        });
                        captureHighlights = [];

                        // clear old highlightedSquare and reset highlightedSquare var
                        if (highlightedSquare !== '') {
                            hSquare = document.getElementById(highlightedSquare);
                            if (hSquare.classList.contains('even')) {
                                hSquare.style.backgroundColor = rbg(234, 237, 207);
                            } else {
                                hSquare.style.backgroundColor = rgb(126, 152, 92);
                            }
                            highlightedSquare = '';
                        }
                        
                        // If click is a valid move
                        if (data.move == true) {
                            fetch('/get-board', {
                                method: 'POST',
                                headers: {
                                    'Content-Type': 'application/json'
                                }
                            })
                            .then(result => result.json())
                            .then(boardData => {
                                squares.forEach(function(square) {
                                    if (boardData.hasOwnProperty(square.id)) {
                                        square.textContent = boardData[square.id];
                                    } else {
                                        square.textContent = '';
                                    }
                                });
                                // clear old checkHighlight and reset checkHighlight var
                                if (checkHighlight !== '') {
                                    hSquare = document.getElementById(checkHighlight);
                                    if (hSquare.classList.contains('even')) {
                                        hSquare.style.backgroundColor = rbg(234, 237, 207);
                                    } else {
                                        hSquare.style.backgroundColor = rgb(126, 152, 92);
                                    }
                                    checkHighlight = '';
                                }
                                if (data.check !== '') {
                                    document.getElementById(data['check']).style.backgroundColor = 'red';
                                    checkHighlight = data.check;
                                }
                            });
                        }

                        // If click is out of turn, double click, or illegal square
                        if (data.highlight !== '' && square.style.backgroundColor !== 'red') {
                            document.getElementById(data.highlight).style.backgroundColor = 'yellow';
                            highlightedSquare = data.highlight;
                        }
                        if (data.circle !== []) {
                            data.circle.forEach(function(cSquare) {
                                targetSquare = document.getElementById(cSquare);
                                if (targetSquare.textContent == '') {
                                    targetSquare.textContent = '○';
                                    circledSquares.push(cSquare)
                                } else {
                                    targetSquare.style.backgroundColor = 'orange';
                                    captureHighlights.push(cSquare);
                                }
                            });
                        }
                    });
                });
            });
            document.getElementById('newGame').addEventListener('click', function() {
                outcome = '';
                process_outcome('');
                fetch('/new-game', {
                    method: 'GET',
                    headers: {
                        'Content-Type': 'application/json'
                    }
                })
                .then(result => result.json())
                .then(data => {
                    squares.forEach(function(square) {
                        if (data.hasOwnProperty(square.id)) {
                            square.textContent = data[square.id];
                        } else {
                            square.textContent = '';
                        }
                    });
                });
            });
            document.getElementById('resign').addEventListener('click', function() {
                fetch('/resign', {
                    method: 'GET',
                    headers: {
                        'Content-Type': 'application/json'
                    }
                })
                .then(result => result.json())
                .then(data => {
                    outcome = data;
                    process_outcome(outcome)
                });
            });
            document.getElementById('offerDraw').addEventListener('click', function() {
                fetch('/offer-draw', {
                    method: 'GET',
                    headers: {
                        'Content-Type': 'application/json'
                    }
                })
                .then(result => result.json())
                .then();
            });
        });
        function process_outcome(outcome) {
            document.getElementById("outcome").textContent = outcome;
        }
    </script>
</head>
<body>

<div class="container">
    <div class="buttonList center">
        <div class="row">
            <div class="col">
              <ul class="list-inline">
                <li class="list-inline-item">
                  <button type="button" id="newGame" class="btn">New Game</button>
                </li>
                <li class="list-inline-item">
                  <button type="button" id="resign" class="btn">Resign</button>
                </li>
                <li class="list-inline-item">
                  <button type="button" id="offerDraw" class="btn">Offer Draw</button>
                </li>
              </ul>
            </div>
          </div>
    </div>
    <div class="chessboard">
        <div class="square even labelNum" id="a8"></div>
        <div class="square odd" id="b8"></div>
        <div class="square even" id="c8"></div>
        <div class="square odd" id="d8"></div>
        <div class="square even" id="e8"></div>
        <div class="square odd" id="f8"></div>
        <div class="square even" id="g8"></div>
        <div class="square odd" id="h8"></div>

        <div class="square odd labelNum" id="a7"></div>
        <div class="square even" id="b7"></div>
        <div class="square odd" id="c7"></div>
        <div class="square even" id="d7"></div>
        <div class="square odd" id="e7"></div>
        <div class="square even" id="f7"></div>
        <div class="square odd" id="g7"></div>
        <div class="square even" id="h7"></div>

        <div class="square even labelNum" id="a6"></div>
        <div class="square odd" id="b6"></div>
        <div class="square even" id="c6"></div>
        <div class="square odd" id="d6"></div>
        <div class="square even" id="e6"></div>
        <div class="square odd" id="f6"></div>
        <div class="square even" id="g6"></div>
        <div class="square odd" id="h6"></div>

        <div class="square odd labelNum" id="a5"></div>
        <div class="square even" id="b5"></div>
        <div class="square odd" id="c5"></div>
        <div class="square even" id="d5"></div>
        <div class="square odd" id="e5"></div>
        <div class="square even" id="f5"></div>
        <div class="square odd" id="g5"></div>
        <div class="square even" id="h5"></div>

        <div class="square even labelNum" id="a4"></div>
        <div class="square odd" id="b4"></div>
        <div class="square even" id="c4"></div>
        <div class="square odd" id="d4"></div>
        <div class="square even" id="e4"></div>
        <div class="square odd" id="f4"></div>
        <div class="square even" id="g4"></div>
        <div class="square odd" id="h4"></div>

        <div class="square odd labelNum" id="a3"></div>
        <div class="square even" id="b3"></div>
        <div class="square odd" id="c3"></div>
        <div class="square even" id="d3"></div>
        <div class="square odd" id="e3"></div>
        <div class="square even" id="f3"></div>
        <div class="square odd" id="g3"></div>
        <div class="square even" id="h3"></div>

        <div class="square even labelNum" id="a2"></div>
        <div class="square odd" id="b2"></div>
        <div class="square even" id="c2"></div>
        <div class="square odd" id="d2"></div>
        <div class="square even" id="e2"></div>
        <div class="square odd" id="f2"></div>
        <div class="square even" id="g2"></div>
        <div class="square odd" id="h2"></div>

        <div class="square odd labelNum labelLetter" id="a1"></div>
        <div class="square even labelLetter" id="b1"></div>
        <div class="square odd labelLetter" id="c1"></div>
        <div class="square even labelLetter" id="d1"></div>
        <div class="square odd labelLetter" id="e1"></div>
        <div class="square even labelLetter" id="f1"></div>
        <div class="square odd labelLetter" id="g1"></div>
        <div class="square even labelLetter" id="h1"></div>
    </div>
    <div>
        <p id="outcome">none</p>
    </div>
</div>

<!-- Add Bootstrap JS (optional) -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<!-- <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.0.7/dist/umd/popper.min.js"></script> -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>